<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    h2 {
        text-align: center;
    }
</style>

<body>
    <h2>Productos</h2>
    <table>
        <tr>
            <th>Nombre</th>
            {{#each productosFakerNombre}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr>
            <th>Precio</th>
            {{#each productosFakerPrecio}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        <tr>
            <th>Imagen</th>
            {{#each productosFakerImagen}}
            <td><img src={{this}} alt="asd" width="50px" ></td>
            {{/each}}
        </tr>
    </table>
</body>

</html>